{% extends "base.html" %}
{% load i18n avatar_tags %}

{% block content %}
<div class="mt-5"></div>
<div class="mt-5"></div>
<div class="container-fluid ml-4">
        <p>{% trans "Your current avatar: " %}</p>
        {% avatar user 150%}
        {% if not avatars %}
            <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
        {% else %}
            <form method="POST" action="{% url 'avatar_change' %}">
                 <div class="row mt-1 mb-3">
                    <div class="col-sm">
                      {{ primary_avatar_form }}
                    </div>
                </div>
                <p>{% csrf_token %}<a href="{% url 'profile' %}" ><input class="btn btn-primary mb-3" type="submit" value="{% trans "Choose new Default" %}" /></a></p>
            </form>
        {% endif %}
    <div>
        <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
            {{ upload_avatar_form.as_p }}
            <p>{% csrf_token %}<input class="btn btn-primary mb-3" type="submit" value="{% trans "Upload New Image" %}" /></p>
        </form>
    </div>
</div>
{% endblock %}