{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load avatar_tags %}
{% block content %}
<div class="super_container">		
	<div class = mt-5>_</div>
	<div class = mt-5>_</div>
	<div>
		<div class="content-section">
			<div class="media"></div>
			<div class="container-fluid">		
				<div class="media-body">
					<div class="row ml-2">
						{% avatar user 150%}
					</div>
					<button class="mt-3 ml-3" style=""><a href="{% url 'avatar_change' %}">Change your avatar</a></button>
					<h3 class="account-heading mt-4 ml-3">{{ user.username }}</h3>
				</div>
			</div>
		</div>
	</div>	
</div>
{% endblock content %}