{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="super_container">		
	<div class = mt-4>_</div>
	<div class = mt-4>_</div>
	<div class = "ml-4">
		<div class="container-fluid">
			<div class="container col-5">
				<div class = "content-section">
					<form method="POST">
						{% csrf_token %}
						<fieldset class="form-group">
							<legend class="border-bottom mb-4">Join Today!</legend>
							{{ form|crispy }}
						</fieldset>
						<div class= "form-group">
							<button class="btn btn-outline-info" type="submit">Sign Up</button>
						</div>
					</form>
					<div class="border-top pt-3">
							<small class="text-muted">
								Already Have An Account? <a class="ml-2" href="#">Sign In</a>
							</small>
							<p><strong>-- OR --</strong></p>
							 <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
							 <p><strong>-- OR --</strong></p>
							 <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<div class = mb-4>_</div>
	<div class = mb-4>_</div>
</div>
{% endblock content %}